[package]
name = "grpc-interop"
description = "Implementation of the grpc-interop service."
repository = "http://github.com/stephancheg/grpc-rust/interop"
version = "0.0.0"
authors = ["Steve Jenson <stevej@buoyant.io>"]

[dependencies.grpc]
path = ".."

[dependencies]
log             = "0.*"
env_logger      = "0.*"
protobuf        = "1.*"
futures         = "0.*"
futures-cpupool = "0.*"
chrono          = "0.2.25"
clap            = "2.20.0"

[[bin]]
name = "grpc-rust-interop-server"
path = "src/bin/interop_server.rs"

[[bin]]
name = "grpc-rust-interop-client"
path = "src/bin/interop_client.rs"

